page-price-capturing-product-list {
    ion-searchbar{
        .searchbar-input{
            box-shadow: none !important;
        }
    }
    ion-grid{
        padding: 0 !important;
    }
    ion-footer{
        button{
            margin: 0 !important;
        }
    }
    .empty-state{
        img{
            padding: 20px 40%;
        }
    }
}
