page-club-classification {
    .cards {
        margin-top: 30px;
        img {
            margin: 0 10px 20px 0;
            width: 49%;
            height: 130px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        } 
        @media (max-width: 700px) {
            img {
                margin: 0 10px 10px 0;
                width: 48%;
            }
        }
        @media (max-width: 480px) {
            img {
                width: 100%; 
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }
    .card-wrapper {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
    .check {
        padding: 0;
        li {
            list-style-type: none;
            background: url('../../assets/icon/check.svg') no-repeat;
            padding-left: 30px;
            background-size: 20px;
            margin-bottom: 10px;
        }
    }
    table {
        margin: 15px 0 30px;
        th {
            line-height: 1.8;
        }
    }
}
