<ion-header>
  <ion-navbar>
    <ion-title>{{childCategoryName}}</ion-title>
  </ion-navbar>
  <!-- <ion-toolbar>
    <form (ngSubmit)="submitSearch($event)">
      <ion-searchbar (ionInput)="getItems($event)" placeholder="Search any product in {{categoryObj.name}}"></ion-searchbar>
    </form>
  </ion-toolbar> -->
</ion-header>
<ion-content class="full-background">
  <div class="search-spinner">
    <ion-spinner name="crescent" *ngIf="!unitSizeListAvailable"></ion-spinner>
  </div>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)" spinner="crescent">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-list *ngIf="unitSizeListAvailable && (unitSizeList.length > 0)">
    <ng-container *ngFor="let unitSize of unitSizeList">
      <ion-item *ngIf="unitSize !== '-'" (click)="getProducts(unitSize)">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-2>
              <img src="assets/icon/box.svg">
            </ion-col>
            <ion-col col-9>
              {{unitSize}}
            </ion-col>
            <ion-col col-1>
              <button ion-button clear color="secondary" item-end><ion-icon name="arrow-forward"></ion-icon></button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      </ng-container>
  </ion-list>
  <ion-card *ngIf="unitSizeListAvailable && (unitSizeList.length < 1)">
    <ion-card-header text-center>
      <h4>No record found</h4>
    </ion-card-header>
  </ion-card>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
