page-add-salesman-modal {
    .salesman-name{
        text-transform: capitalize;
    }
    .button{
        box-shadow: none;
        float: right;
        font-size: 25px;
        ion-button{
            padding-right: 10px;
        }
    }
}
