page-competitive-products-list {
    ion-content{
        background: aliceblue !important;
        ion-grid{
            padding: 0 !important;
            font-size: 0.9em !important;
            ion-row{
                // border-bottom: 1px solid rgba(0,0,0,0.1);
                background: #ffffff !important;
                margin: 10px 0 !important;
    
                padding: 5px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                border-radius: 4px;
            }
        }
        .custom-fab {
            font-size: 2em !important;
            margin-left: 4px !important;
        }
    }
}
