page-associated-customers-list-order {
    .order-status{
        padding-top: 5px; 
     }
     .order-list-btn{
         font-size: 12px;
     }
     .order-list-label{
         color: #898989;
     }
     .edit-btn {
        margin-top: 5px;
     }
}
