<ion-header>
  <ion-navbar>
    <ion-title>Order Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="full-background">
  <ion-refresher (ionRefresh)="doRefresh($event)" spinner="crescent">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="search-spinner">
    <ion-spinner name="crescent" *ngIf="!orderItemsAvailable"></ion-spinner>
  </div>

    <ion-list>
      <button color="primary" [disabled]="orderDetail.status !== 'in-progress'" ion-button full class="edit-btn" (click)="navigateToEditOrderPage()">EDIT ORDER</button>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col col-12 text-center>
              <ion-icon name="cart" color="grey"></ion-icon>Order Id: <span>{{orderDetail.orderId}}</span>
            </ion-col>
            <ion-col col-12 text-center>
              <ion-icon name=help-buoy color="grey"></ion-icon> Customer Name: <span>{{orderDetail.userDetail.name}}</span>
            </ion-col>
            <ion-col col-12 text-center *ngIf="orderDetail.salesmanName">
              <ion-icon name=help-buoy color="grey"></ion-icon> SM Name: <span>{{orderDetail.salesmanName}}</span>
            </ion-col>
            <ion-col col-12 text-center>
              <ion-icon name="pin" color="grey"></ion-icon> Province: <span>{{orderDetail.userDetail.country}} [ {{orderDetail.userDetail.province}} ]</span>
            </ion-col>
            <ion-col col-12 text-center>
              <ion-icon color="grey" name="calendar"></ion-icon>
              <span>Date: {{orderDetail.lastUpdatedAt}}</span>
            </ion-col>
            <ion-col col-12 text-center>
              <ion-icon name="podium" color="grey"></ion-icon> <span class="{{orderDetail.status}}">Status: <strong text-uppercase>{{orderDetail.status}}</strong></span>
            </ion-col>
            <ion-col col-12 text-center>
              <ion-icon name="cash" color="grey"></ion-icon> <span>Order Total: {{orderDetail.orderTotal}} ZMW</span>
            </ion-col>
            <ion-col col-12 text-center>
              <ion-icon name="trophy" color="grey"></ion-icon> <span>Total Tk-Points: {{orderDetail.totalTkPoints}}</span>
            </ion-col>
            <ion-col col-12 text-center>
              <ion-icon name="cog" color="grey"></ion-icon> <span>Total Net Weight: {{orderDetail.totalNetWeight}} tonnage</span>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let item of orderItems">
        <ion-card-content>
          <ion-row>
            <ion-col text-center>
              <ion-icon name="cube" color="grey"></ion-icon>
              <span>{{item.productDetail.name}} [{{item.productDetail.productCode}}]</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
              Qty: {{item.quantity}}
            </ion-col>
            <ion-col text-center>
              <ion-icon name="cash" color="grey"></ion-icon>
              <span>Price: {{item.price}} ZMW</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 text-center>
              <ion-icon name="cash" color="grey"></ion-icon>
              <span>SubTotal: {{item.subTotal}} ZMW</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 text-center>
              <ion-icon name="trophy" color="grey"></ion-icon>
              <span>Tk-Point: {{item.tkPoint}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 text-center>
              <ion-icon name="trophy" color="grey"></ion-icon>
              <span>Net Weight: {{item.netWeight}} Kg</span>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer class="full-background" *ngIf="showImportOrder || showCancelOrder">
  <ion-row>
    <ion-col text-center>
      <button *ngIf="showImportOrder" ion-button primary color="secondary" (click)="importOrder()"><ion-icon name="arrow-dropdown-circle"></ion-icon> Import Order<ion-spinner name="dots" *ngIf="showLoader"></ion-spinner></button>
        <ion-col text-center>
          <button *ngIf="showCsvButton" ion-button primary color="secondary" (click)="exportToCsv()"><ion-icon name="arrow-dropdown-circle"></ion-icon> Export to csv<ion-spinner name="dots" *ngIf="showLoader"></ion-spinner></button>
        </ion-col>
      <button *ngIf="showCancelOrder" ion-button primary color="secondary" (click)="cancelOrder()"><ion-icon name="close-circle"></ion-icon> Cancel Order<ion-spinner name="dots" *ngIf="showLoader"></ion-spinner></button>
    </ion-col>
  </ion-row>
</ion-footer>
