<ion-header>
    <ion-navbar>
      <ion-title>Parent Categories</ion-title>
      <ion-buttons end>
        <button class="cart-btn" ion-button icon-only (click)="reviewAndSubmitOrder()">
          <ion-icon name="cart"></ion-icon>
          <ion-badge class="cart-badge">{{cart.length}}</ion-badge>
        </button>
        <button class="cart-btn" ion-button icon-only (click)="showTkToast()">
          <ion-icon name="trophy"></ion-icon>
          <ion-badge class="cart-badge">{{tkPoint}}</ion-badge>
        </button>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="full-background">
  <div class="search-spinner">
    <ion-spinner name="crescent" *ngIf="!categoryListAvailable"></ion-spinner>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)" spinner="crescent">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="categoryListAvailable && (parentCategoryList.length > 0)">
    <ion-item *ngFor="let category of parentCategoryList" (click)="getChildCategory(category)">
        <img src="assets/imgs/productcategory.svg">{{category.name}}
      <button ion-button clear color="secondary" item-end><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="categoryListAvailable && (parentCategoryList.length < 1)">
    <ion-card-header text-center>
      <h4>No record found</h4>
    </ion-card-header>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
