page-gift-rewards {
    ion-content.content:not([padding]) .scroll-content {
        padding: 0;
    }
    .gift-img {
      padding-top: 30px!important;
    }
    ion-card.card {
        margin: 0;
        width: 100%;
    }
    .special-gift-prod {
      width: 40px;
      height: 25px;
      text-align: center;
    }
    .gift-image {
      height: 40vw;
      width: 40vw;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }
    ion-card-content.card-content {
        padding: 15px 0;
        .col {
            padding: 5px 0 5px 5px;
        }
        button {
            width: 100%;
        }
    }
    ion-slide {
        height: 300px;
    }
    ion-slides {
        height: 70%;
    }
    h3 {
        padding-bottom: 80px;
    }
    .backBtn {
        position: absolute;
        left: 10px;
        top: 30vh;
        width: 15vw;
        height: 15vw;
        z-index: 100;
        background: transparent;
     }

     .nextBtn {
        position: absolute;
        right: 10px;
        top: 30vh;
        width: 15vw;
        height: 15vw;
        z-index: 100;
        background: transparent;
     }
     ion-icon {
         font-size: 70px;
     }
     .swiper-slide img {
         max-width: 80%;
     }
  [text-center] {
    display: block;
  }
  .checkout {
      background: #225f93;
      padding: 20px 0;
      color: #fff;
  }
  .prod-name {
      font-size: 16px;
      font-weight: bold;
  }
}
