page-user-statements {
    .transDesc{
        font-size: 1.1em;
        font-weight: 500;
        // color: #225f93;
    }
    .transDate{
        color: #9BA3C0;
        font-size: 0.8em;
        // font-weight: 300;
    }
    .transRef{
        font-size: 0.9em;
        font-weight: 400;
        // color: #141414;
    }
    .transAmt{
        text-align: right;
        .credit, .debit{
            font-size: 1.2em !important;
            font-weight: 500 !important;
        }
        .credit{
            color: color($colors, success);
        }
        .debit{
            color: color($colors, danger);
        }
        .balance{
            font-size: 0.9em;
            font-weight: 400;
            color: #9BA3C0;
        }
    }
    ion-footer{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        background: color($colors, primary);
        button{
            margin: 0 !important;
        }
    }
}
.no-content {
    margin-top:70%;
    text-align: center;
}
