<ion-header>
  <ion-navbar>
    <ion-title>Statements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list *ngIf="statements && statements.length; else nocontent">
    <ion-item *ngFor="let item of statements">
        <ion-grid>
          <ion-row>
            <!-- <ion-col col-1>
              <ion-icon name="arrow-down" color="danger" *ngIf="item.debit !== ''"></ion-icon>
                <ion-icon name="arrow-up" color="success" *ngIf="item.credit !== ''"></ion-icon>
            </ion-col> -->
            <ion-col col-6 text-wrap>
              <p class="transDesc">{{item.desc}}</p>
              <p class="transRef">#{{item.ref}}</p>
              <p class="transDate">{{item.date | date: 'dd/M/yy, h:mm a'}}</p>
            </ion-col>
            <ion-col col-6 class="transAmt">
              <p color="success" class="credit" *ngIf="item.credit">+ {{item.credit | number: '.2'}}</p>
              <p color="danger" class="debit" *ngIf="item.debit">- {{item.debit | number: '.2'}}</p>
              <p class="balance">{{item.balance | number: '.2'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #nocontent>
  <div class="no-content">
    No Transactions to show
  </div>
</ng-template>

<ion-footer *ngIf="statements && statements.length">
  <button ion-button full padding class="downloadBtn" (tap)="createPdf()"><ion-icon name="document"></ion-icon>
      DOWNLOAD PDF
  </button>
</ion-footer>