<ion-header>
  <ion-navbar hideBackButton="true">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{partyName}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more" ></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="full-background">
  <!-- <button ion-button full padding class="salesmanDashboardBtn" (click)="openCustomerSelectionModal()"
      [ngClass]=" customerDashboard ? 'item-hidden': 'item-visible'">
      SELECT CUSTOMER
  </button> -->

  <!-- <button ion-button  padding class="customerdashboardBtn" (click)="openBtnModal()" 
      [ngClass]=" customerDashboard ? 'item-visible': 'item-hidden'">
      Add Payment
  </button>
  <button ion-button  padding class="customerdashboardBtn" (click)="openBtnModal()" 
      [ngClass]=" customerDashboard ? 'item-visible': 'item-hidden'">
      Shop
  </button> -->

  <ion-card class="tabs-wrapper">
      <ion-card-header class="card-title">
        <!-- TARGET vs ACHIEVEMENT -->
        <!-- <ion-icon></ion-icon> -->
        <ion-item class="switchCategory">
          <ion-label>TARGET vs ACHIEVEMENT</ion-label>
          <ion-select placeholder="Total"  interface="popover">
              <ion-option selected="true" value="total" (ionSelect)="totalCategorySelected()">Total</ion-option>  
              <ion-option *ngFor="let category of categoryList" [value]="category" (ionSelect)="targetCategorySelectionChanged(category)">{{category.name}}</ion-option>
          </ion-select> 
          </ion-item>
      </ion-card-header>

      <ion-row>
          <ion-col class="tabs" align-items-center>
              <p class="tab-label-sm" align-items-center>
                Target
              </p>
              <p class="tab-label-lg" align-items-center>
                  {{data.target | number: '.2'}}
              </p>
          </ion-col>
          <ion-col class="tabs">
              <p class="tab-label-sm">
                  MTD Achieved
                </p>
                <p class="tab-label-lg">
                  {{data.achievement | number: '.2'}}
              </p>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="tabs">
                <p class="tab-label-sm">
                  % Achieved
                </p>
                <p class="tab-label-lg">
                  {{data.achievedPercentage}}%
                </p>
            </ion-col>
            <ion-col class="tabs">
                <p class="tab-label-sm">
                    Balance To Do
                  </p>
                  <p class="tab-label-lg">
                    {{data.balanceToDo | number: '.2'}}
                </p>
            </ion-col>
          </ion-row>

          <div>
              <ion-row>
                <div>
                    <canvas #pieCanvas style="width: 100%"> </canvas>
                </div>
              </ion-row>
            </div>

          <ion-row class="targetBottom">
            <p class="targetFootnote">*MTD: Month Till Date</p>
            <!-- <p class="toggleView" (click)="toggleView()">
                <ion-icon slot="start" name="podium"></ion-icon>
              Visualize Data
            </p> -->
          </ion-row>
  </ion-card>

  <!-- <ion-card class="tabs-wrapper" *ngIf="data.creditLimit !== undefined"> -->
    <ion-card class="tabs-wrapper">
      <ion-card-header class="card-title">
        OUTSTANDING
      </ion-card-header>
      
          <ion-row>
            <ion-col class="tabs">
                <p class="tab-label-sm">
                    Total Credit Limit
                </p>
                <p class="tab-label-lg">
                  {{data.creditLimit !== 'NA' ? (data.creditLimit | number: '.2') : data.creditLimit}}                  
                </p>
            </ion-col>
            <ion-col class="tabs">
                <p class="tab-label-sm">
                    Total Outstanding
                  </p>
                  <p class="tab-label-lg">
                    {{data.currentOutStanding !== 'NA' ? (data.currentOutStanding | number: '.2') : data.currentOutStanding}}
                </p>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="data.thirtyDaysOutStanding !== undefined">
              <ion-col class="tabs">
                  <p class="tab-label-sm">
                      > 30- Days Outstanding
                  </p>
                  <p class="tab-label-lg">
                    {{data.thirtyDaysOutStanding !== 'NA' ? (data.thirtyDaysOutStanding | number: '.2') : data.thirtyDaysOutStanding }}                    
                  </p>
              </ion-col>
              <ion-col class="tabs">
                  <p class="tab-label-sm">
                      Available Credit Limit
                    </p>
                    <p class="tab-label-lg">
                      {{data.availableCreditLimit !== 'NA' ? (data.availableCreditLimit | number: '.2') : data.availableCreditLimit}}                      
                  </p>
              </ion-col>
            </ion-row>
  </ion-card>

<!-- <ion-card class="profile-card">

  
  <ion-card-header>
    <ion-item class="profile-header">
      <ion-avatar item-start>
        <img src="assets/icon/customer-dark.svg">
      </ion-avatar>
      <ion-item>
        User Details
      </ion-item>
    </ion-item>
  </ion-card-header>
</ion-card>
  

    <ion-card class="profile-card">
    <button (click)="toggleFunc();" class="accordion">
        <ion-icon name="trophy" item-start></ion-icon>
        Target vs Achievement
        <ion-icon name="add" class="expand-icon" item-end></ion-icon>
    </button>
    <div class="panel" [ngClass]="opened ? 'active' : ''">
      
      <ion-list class="scroll">
          <ion-grid>
              <ion-row class="header">
                <ion-col width-25>CATEGORY</ion-col>
                <ion-col width-25>TARGET</ion-col>
                <ion-col width-25>MTD ACH</ion-col>
                <ion-col width-25>% ACH</ion-col>
                <ion-col width-25>FTD</ion-col>
                <ion-col width-25>Balance To Do</ion-col>
              </ion-row>
          
              <ion-row class="table-content">
                  <ion-col width-25>Laundry</ion-col>
                  <ion-col width-25>100</ion-col>
                  <ion-col width-25>55</ion-col>
                  <ion-col width-25>55%</ion-col>
                  <ion-col width-25>5</ion-col>
                  <ion-col width-25>45</ion-col>
              </ion-row>
          
              <ion-row class="table-content">
                  <ion-col width-25>Personal Care</ion-col>
                  <ion-col width-25>50</ion-col>
                  <ion-col width-25>23</ion-col>
                  <ion-col width-25>46%</ion-col>
                  <ion-col width-25>3</ion-col>
                  <ion-col width-25>27</ion-col>
              </ion-row>
          
              <ion-row class="footer">
                  <ion-col width-25>TOTAL</ion-col>
                  <ion-col width-25>200</ion-col>
                  <ion-col width-25>112</ion-col>
                  <ion-col width-25>56%</ion-col>
                  <ion-col width-25>11</ion-col>
                  <ion-col width-25>88</ion-col>
              </ion-row>
          
              <ion-row class="footnote">
                  <ion-col col-12>MTD : Month till date </ion-col>
                  <ion-col col-12>FTD: For the day</ion-col>
              </ion-row>
            </ion-grid>           
      </ion-list>
    
    </div>
    </ion-card>

    <ion-card class="profile-card">
    <button (click)="toggleFuncTK();" class="accordion">
        <ion-icon name="md-cash" item-start></ion-icon>
        Outstanding
        <ion-icon name="add" class="expand-icon" item-end></ion-icon>
        </button>
    <div class="panel" [ngClass]="TKopened ? 'active' : ''">
      
      <ion-list class="scroll">
          <ion-grid>
              <ion-row>
                <ion-col col-8>Total Credit Limit</ion-col>
                <ion-col col-4>1000</ion-col>
              </ion-row>
          
              <ion-row>
                <ion-col col-8>Total Outstanding</ion-col>
                <ion-col col-4>950</ion-col>
              </ion-row>
          
              <ion-row>
                  <ion-col col-8>> 30- Days Outstanding</ion-col>
                  <ion-col col-4>450</ion-col>
              </ion-row>
          
              <ion-row>
                  <ion-col col-8>Available Credit Limit</ion-col>
                  <ion-col col-4>50</ion-col>
              </ion-row>
          
            </ion-grid>            
      </ion-list>
    </div>
  </ion-card>

<ion-card class="profile-card">
    <button (click)="toggleFuncOut();" class="accordion">
        <ion-icon name="md-cash" item-start></ion-icon>
        TK Currency
        <ion-icon name="add" class="expand-icon" item-end></ion-icon>
      </button>
    <div class="panel" [ngClass]="Outopened ? 'active' : ''">
      
      <ion-list class="scroll">
          <ion-grid>
              <ion-row>
                <ion-col col-8>Total TK Points</ion-col>
                <ion-col col-4>500</ion-col>
              </ion-row>
          
              <ion-row>
                <ion-col col-8>Total TK Currency</ion-col>
                <ion-col col-4>500</ion-col>
              </ion-row>
            </ion-grid>
      </ion-list>
    </div>
  </ion-card> -->

</ion-content>
<ion-footer>
  <button ion-button full padding class="salesmanDashboardBtn" (click)="openCustomerSelectionModal()"
      [ngClass]=" customerDashboard ? 'item-hidden': 'item-visible'"><ion-icon name="contact"></ion-icon>
      SELECT CUSTOMER
  </button>
</ion-footer>
