@import url('https://fonts.googleapis.com/css?family=Roboto');

.ion-content {
  font-family: Roboto;

}
.full-background {
  background-color: color($colors, full-background);
}

ion-card{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;
}

ion-spinner {
  * {
    stroke: #1DE9B6;
  }

  &.spinner-circles circle,
  &.spinner-bubbles circle,
  &.spinner-dots circle {
    fill: #1DE9B6;
  }
}
