page-customer-list-order {
    .noDataView{
        padding: 20px;
        margin-top: 30%;
        font-size: 60px;
        color: color($colors, primary);

        h4{
            font-size: 2rem
        }
    }
}
