<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="full-background">
  <ion-card>
      <ion-card-header text-center>Change Password
        <ion-icon name="md-key"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="resetPasswordForm">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>Old Password</ion-label>
                  <ion-input type="password" formControlName="oldPassword"></ion-input>
                </ion-item>
                <ion-item *ngIf="oldPassword.hasError('required') && oldPassword.touched">
                  <p style="color: red">Old Password is required*</p>
                </ion-item>
                <ion-item>
                  <ion-label floating>New Password</ion-label>
                  <ion-input type="password" formControlName="newPasssword"></ion-input>
                </ion-item>
                <ion-item *ngIf="newPasssword.hasError('required') && newPasssword.touched">
                  <p style="color: red">New Password is required*</p>
                </ion-item>
                <ion-item>
                    <ion-label floating>Re Enter Password</ion-label>
                    <ion-input type="password" formControlName="reEnterPassword"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="reEnterPassword.hasError('required') && reEnterPassword.touched">
                    <p style="color: red">Re Enter Password</p>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <button ion-button color="secondary" [disabled]="!(resetPasswordForm.valid)" (click)="changePassword()">Change Password<ion-spinner name="dots" *ngIf="showLoader"></ion-spinner></button>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
