<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="full-background">
  
      <form [formGroup]="resetPasswordForm">
        <ion-grid>
          <ion-row>
            <ion-item>
              <ion-label floating>Old Password</ion-label>
              <ion-input type="password" formControlName="oldPassword"></ion-input>
            </ion-item>
            <p class="error" *ngIf="oldPassword.hasError('required') && oldPassword.touched">
              *Old Password is required
            </p>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>New Password</ion-label>
              <ion-input type="password" formControlName="newPasssword"></ion-input>
            </ion-item>
            <p class="error" *ngIf="newPasssword.hasError('required') && newPasssword.touched">
              *New Password is required
            </p>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>Re Enter Password</ion-label>
              <ion-input type="password" formControlName="reEnterPassword"></ion-input>
            </ion-item>
            <p class="error" *ngIf="reEnterPassword.hasError('required') && reEnterPassword.touched">
              *Re Enter Password
            </p>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <button ion-button color="secondary" [disabled]="!(resetPasswordForm.valid)" (click)="changePassword()">
            Change Password<ion-spinner name="dots" *ngIf="showLoader"></ion-spinner>
          </button>
        </ion-grid>
      </form>
</ion-content>