page-customer-list-product {
    .search-result {
        color: white
    }
    .noDataView{
        padding: 20px;
        margin-top: 30%;
        font-size: 60px;
        color: #225f93;

        h4{
            font-size: 2rem
        }
    }
    .card {
        border-bottom: none;
    }
}
