<ion-header>
    <ion-navbar>
      <ion-title>Product List</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="reviewAndSubmitOrder()">
          <h4>{{cartQuantity}}</h4>
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content class="full-background">
    <div class="search-spinner">
      <ion-spinner name="crescent" *ngIf="!productListAvailable"></ion-spinner>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)" spinner="crescent">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="productListAvailable">
      <ion-card *ngFor="let product of productList">
        <ion-card-header text-center>
          <ion-icon name="cube"></ion-icon>
          <strong>{{product.name}}</strong>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col text-center>
              <button ion-button color="accent" outline style="color: black!important;">
                <ion-input item-start type="text" placeholder="Qty" #qty></ion-input>
              </button>
            </ion-col>
            <ion-col text-center>
              <button end ion-button color="secondary" (click)="addToCart(product, qty.value)" style="color: white!important;">
                <strong><ion-icon name="cart"></ion-icon>Add</strong>
              </button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-content>
  