<ion-header>
  <ion-navbar>
    <ion-title>Edit User Information</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="full-background">

  <ion-grid>
    <ion-row padding>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              <ion-icon name="locate" color="grey" padding-right></ion-icon>Province
            </ion-label>
            <ion-select [(ngModel)]="selectedProvince" interface="popover">
              <ion-option *ngFor="let province of provinceList" [value]="province">{{province}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
          <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="custName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Customer Code</ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="custCode"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>TK Point</ion-label>
              <ion-input type="text" [(ngModel)]="tkPoint"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>TK Currency</ion-label>
              <ion-input type="text" [(ngModel)]="tkCurrency"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row class='associated-salesman' *ngIf="userData.userType === 'CUSTOMER' ">
                <ion-col col-8>
                    <ion-label class="custom-title">Associated Salesman </ion-label>
                </ion-col>
                <ion-col col-4>
                    <button ion-button color="secondary" (click)="opneSalesmanModalPage()" style="float: right"><ion-icon name="add"></ion-icon></button>
                </ion-col>
            </ion-row>
          </ion-grid>
            <p padding *ngIf="!salesmanList.length && userData.userType === 'CUSTOMER'">No Association Found!</p>
            <div class="pill-wrapper" *ngFor="let salesman of salesmanList">
              <span class="pill-content">{{salesman.name}}</span>
              <button class="pill-remove" (click)="removeSalesman(salesman)"><ion-icon name="close-circle" class="pill-close-icon"></ion-icon></button>
            </div>
          <ion-grid>
            <button ion-button color="secondary"  (click)="updateUser()" class="update-btn">Update
              Customer<ion-spinner name="dots" *ngIf="showLoader"></ion-spinner></button>
          </ion-grid>
      </ion-col>
      </ion-row>
      </ion-grid>
      </ion-content>
