<ion-header>
  <ion-navbar>
    <ion-title>Sub Category</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="reviewAndSubmitOrder()">
        <h4>{{cart.length}}</h4>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="full-background">
  <div class="search-spinner">
    <ion-spinner name="crescent" *ngIf="!categoryListAvailable"></ion-spinner>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)" spinner="crescent">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="categoryListAvailable && (childCategoryList.length > 0)">
    <button ion-item *ngFor="let category of childCategoryList" (click)="getProducts(category['_id'])">
      <ion-avatar item-start>
        <img src="./assets/imgs/productcategory.png">
      </ion-avatar>
      <span>{{category.name}}</span>
      <button ion-button clear color="secondary" item-end><h1><ion-icon md="md-arrow-round-forward"></ion-icon></h1></button>
    </button>
  </ion-list>
  <ion-card *ngIf="categoryListAvailable && (childCategoryList.length < 1)">
    <ion-card-header text-center>
      <h4>No record found</h4>
    </ion-card-header>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
