<ion-header>
  <ion-navbar>
    <ion-title>Sub Category</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="full-background">
  <div class="search-spinner">
    <ion-spinner name="crescent" *ngIf="!categoryListAvailable"></ion-spinner>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)" spinner="crescent">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="categoryListAvailable">
      <button ion-item *ngFor="let category of childCategoryList" (click)="getProducts(category['_id'])">
        <ion-avatar item-start>
          <img src="./assets/imgs/productcategory.png">
        </ion-avatar>
        <span>{{category.name}}</span>
        <button ion-button clear item-end><h1><ion-icon md="md-arrow-round-forward"></ion-icon></h1></button>
      </button>
    </ion-list>
</ion-content>
