page-admin-home{
    ion-col{
        font-size: 1.2rem;
    }
    .order-status{
        padding-left: 5px;
    }
    .order-list-btn{
        font-size: 14px;
    }
    .order-list-label{
        color: #898989;
    }

}