page-customer-review-submit-order {
    ion-footer {
        button:first-child {
            margin-right: 20px;
        }
    }
    ion-card.card:last-child {
        border-bottom: none;
    }
    [col-10] {
        display: flex;
        align-items: center;
    }
}
